<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "basic", :media => "all" %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
			$(document).ready(function() {
			//	$('select').ieExpandSelectWidth();
			});
		</script>
</head>
<body>

<div class="container">
    <%= yield %>
</div>


</body>
</html>
